						<div id="slide-show-wrapper">
                            <div class="gallery">
                                <div>
                                    <a href="img/sets/cat.jpg" data-lightbox="gallery" data-title="cat">
                                        <img src="img/sets/cat.jpg" alt="cat">
                                    </a>
                                </div>

                                <div>
                                    <a href="img/sets/yarn.jpg" data-lightbox="gallery" data-title="yarn">
                                        <img src="img/sets/yarn.jpg" alt="yarn">
                                    </a>
                                </div>
                            </div>
                        </div>