						<div id="slide-show-wrapper">
                            <div class="gallery">
                                <div>
                                    <a href="img/sets/1.png" data-lightbox="gallery" data-title="1">
                                        <img src="img/sets/1.png" alt="1">
                                    </a>
                                </div>

                                <div>
                                    <a href="img/sets/2.png" data-lightbox="gallery" data-title="2">
                                        <img src="img/sets/2.png" alt="2">
                                    </a>
                                </div>
                            </div>
                        </div>